.BoxDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.InnerBox {
    background-color: #232f3e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    color: aliceblue;
    height: 80vh;
    width: 60vh;
}

.InputBox {
    background-color: #ffc107;
    border-radius: 5px;
    width: 50vh;
    height: 8vh;
    font-family: Roboto, sans-serif;
}

.CategoryButton {
    background-color: #ffc107;
    border-radius: 5px;
    width: 25vh;
    height: 8vh;
    margin-right: 10vh;
    color: #232f3e;
    font-family: Roboto, sans-serif;
}

.BackButton {
    background-color: #ffc107;
    border-radius: 5px;
    width: 15vh;
    height: 8vh;
    color: #232f3e;
    font-family: Roboto, sans-serif;
}