.navbar {
    background-color: #343a40 !important;
    display: flex;
    color: whitesmoke;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}

.subnav1 {
    display: flex;
    align-items: center;
    justify-content: left;
}

.Homealign {
    margin-left: 40vh;
    color: whitesmoke;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    transition: all 1s;
}

.Homealign:hover {
    color: blanchedalmond;
    /* color: red; */
}